:root {
	--background: #fbf4eb;
	--placeholder-bg: #fafafa;

	/* Text */
	--text: #520021; /* Also used for icons and border for second button */

	/* Card */
	--card-bg: #fac3d1;
	--card-shadow: #d7aeb8;
	--card-hover: #edb9c6;
	--card-hover-shadow: rgba(218, 161, 175, 0.25);
	--card-radius: 0.5rem;

	/* Buttons */
	--button: #f283af;
	--button-border: rgba(196, 54, 112, 0.8);
	--button-shadow: #c4367080;
	--button-hover: #c43670;
	--button-hover-shadow: rgba(196, 54, 112, 0.7); /* Also used for border */
	--button2-shadow: rgba(
		82,
		0,
		33,
		0.7
	); /* Also used for ex text value in placeholders */
	--button2-hover: #fbd9e5;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--text);
	background: var(--background);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.page-container {
	max-width: 1000px;
	margin: 0 auto;
}
